body{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    background: #0F0F0F;
    cursor: url(../img/logo-vitor-barroso-dev-cursor.cur), default;
    scroll-behavior: smooth;
}

h1::selection,
h2::selection,
p::selection{
    background-color: #01cb65;
    color: #0F0F0F;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}

/* Barra de navegação */

header .nav-header{
    background-color: transparent;
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 0.5px;
    position: absolute;
    text-align: center;
    width: 100%;
}

header .nav-item{
    margin-top: 15px;
}

header .nav-link-person{
    color: white;
    margin: 0 6px;
    cursor: inherit;
    text-decoration: none;
    transition: 0.3s;
}

header .nav-link-person:hover{
    color: #01cb65;
    transition: 0.3s;
}

/* Sessão de apresentação */

#apresentation{
    height: 650px;
    background-image: url("../img/background1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}

#apresentation .text-apresentation{
    padding-top: 200px;
    padding-left: 100px;
}

#apresentation .text-apresentation h1{
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 50px;
    color: #01cb65;
}

#apresentation .text-apresentation h2{
    font-family: 'Source Sans Pro';
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.5px;
    color: white;
}

/* Mouse de rolagem */

.mouse-anchor{
    width: 30px;
    margin: 200px auto;
}

#mouse {
	display: block;
	width: 30px;
	height: 55px;
	border-radius: 20px;
	border: 4px solid #01cb65;
	text-align: center;
}

#mouse::before {
	content: '';
	display: inline-block;
	width: 4px;
	height: 8px;
	position: relative;
	border-radius: 4px;
	background: #01cb65;
	animation-name: mouse;
    animation-duration: .9s;
	animation-iteration-count: infinite;
}

@keyframes mouse {
	0% {
		top: 0px;
	}
    50% {
        top: 14px;
        height: 10px;
	}
	100% {
        top: 0px;
	}
}

/* Sobre mim */

.background-about-me{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    height: auto;
    background-color: #1d1d1d;
}

.title-about-me{
    padding-top: 60px;
    padding-left: 13%;
}

.title-about-me h2{
    color: #01cb65;
    font-family: 'Montserrat';
    font-size: 40px;
    font-weight: 600;
}

.flex-contents-about-me{
    display: flex;
    justify-content: center;
}

.background-photo-about-me{
    width: 450px;
    max-width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
}

.photo-about-me{
    width: auto;
    max-width: 98%;
    max-height: 322px;
    margin-top: 50px;
}

.photo-about-me img{
    max-width: 100%;
}

.background-desc-about-me{
    width: 60%;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.desc-about-me{
    margin-top: 10%;
    padding-right: 3%;
    color: white;
    font-family: 'Source Sans Pro';
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.3px;
}

/* Habilidades */

.background-skills{
    width: 1100px;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
}

.title-skills{
    padding-top: 60px;
    padding-left: 3%;
}

.title-skills h2{
    color: #01cb65;
    font-family: 'Montserrat';
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 30px;
}

.background-skills-logos{
    width: 100%;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.skill-logo{
    width: 130px;
    height: 160px;
    margin: 20px 40px;
    transition: 0.3s;
}

.skill-logo p{
    text-align: center;
    margin-top: 140px;
    color: yellow;
    font-size: 12px;
    letter-spacing: 2px
}

.skill-logo:hover{
    width: 135px;
    height: 165px;
    margin-top: 10px;
    transition: 0.3s;
}

#skill-html{
    background-image: url('../img/logo-lenguages/html-white.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#skill-html:hover{
    background-image: url('../img/logo-lenguages/html-green.png');
}

#skill-css{
    background-image: url('../img/logo-lenguages/css-white.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#skill-css:hover{
    background-image: url('../img/logo-lenguages/css-green.png');
}

#skill-js{
    background-image: url('../img/logo-lenguages/js-white.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#skill-js:hover{
    background-image: url('../img/logo-lenguages/js-green.png');
}

#skill-php{
    background-image: url('../img/logo-lenguages/php-white.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#skill-php:hover{
    background-image: url('../img/logo-lenguages/php-green.png');
}

#skill-lua{
    background-image: url('../img/logo-lenguages/lua-white.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#skill-lua:hover{
    background-image: url('../img/logo-lenguages/lua-green.png');
}

#skill-mysql{
    background-image: url('../img/logo-lenguages/mysql-white.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#skill-mysql:hover{
    background-image: url('../img/logo-lenguages/mysql-green.png');
}

#skill-git{
    background-image: url('../img/logo-lenguages/git-white.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#skill-git:hover{
    background-image: url('../img/logo-lenguages/git-green.png');
}

/* Mobile */

@media screen and (max-width: 730px){
    /* Barra de navegação */
    
    header .nav-item{
        margin-top: 12px;
    }
    
    /* Sessão de apresentação */
    
    #apresentation{
        height: 700px;
        background-image: url("../img/background1mobile.jpg");
        background-size: cover;
    }
    
    #apresentation .text-apresentation{
        padding-top: 300px;
        padding-left: 0;
        text-align: center;
    }
    
    #apresentation .text-apresentation h1{
        font-size: 35px;
    }
    
    /* Mouse de rolagem */
    
    .mouse-anchor{
        margin: 100px auto;
    }
    
    #mouse {
        width: 40px;
        height: 70px;
    }
    
    /* Sobre mim */
    
    .title-about-me{
        text-align: center;
        padding-left: 0;
    }
    
    .flex-contents-about-me{
        display: block;
    }
    
    .background-photo-about-me{
        width: 100%;
        height: 350px;
    }
    
    .photo-about-me img{
        max-width: 90%;
    }
    
    .background-desc-about-me{
        width: 90%;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 40px;
    }
    
    /* Habilidades */
    
    .title-skills{
        text-align: center;
        padding-left: 0;
    }
    
    .skill-logo{
        width: 100px;
        height: 130px;
    }
    
    .skill-logo:hover{
        width: 105px;
        height: 135px;
        margin-top: 10px;
    }
    
    .skill-logo p{
        margin-top: 110px;
    }
}